@import "tailwindcss";

@theme {
  --color-brand-purple: #4c1d95; /* Deep purple */
  --color-brand-purple-light: #7c3aed;
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-display: "Space Grotesk", sans-serif;
}

@layer base {
  body {
    @apply bg-white text-black antialiased;
  }
}
